*{
    margin:0;
    padding:0;
}
html,body{
    width:800px;
    height: 600px;
}
.container{
    width:100%;
    height:100%;
}
.new{
    border:1px solid lightgray;
    height:30px;
    width:100%;
    border-radius:5px;
}