* {
    margin:0;
    padding:0;
}
div {
    display: block;
}
canvas {
    height: 100%;
    width: 100%;
    position: absolute;
}

ul{
    list-style: none;
}
html,body {
    position:absolute;
    width: 800px;
    height: 634px;
    background-color: #ffffff;
}
.top {
    width:100%;
    height:34px;
    background-color: #1a8cff;
    -webkit-app-region: drag;
}
.container {
    position: absolute;
    top:34px;
    width:800px;
    height:600px;
}
div.cli,div.srv{
    position: absolute;
    display:inline-block;
    background-color: #f5f5fc;
    width: 350px;
    top:30px;
    height: 540px;
    box-shadow:
            0 0 0 1px #E4E4EB,
            0 0 0 3px white,
            0 0 0 4px #e4e4eb;
    border-radius: 15px;
    text-align: center;
}
.cli{
    left:34px;
}
.srv{
    right:34px;
}
input,button {
    text-align: center;
    height:32px;
    margin-top:15px;
    width: 200px;
    border-radius:15px;
    background-color: white;
}
button:focus,option:focus,select:focus,input:focus{
    outline: none;
    box-shadow: 0 0 20px 3px blue;
}
.ip {
    width:140px;
}
.port {
    width:50px;
}
select{
    display:block;
    width:200px;
    height:30px;
    border-radius:5px;
    margin:15px 0 0 75px;
}
.hide {
    display:none;
}
.w8 {
    text-align: center;
    vertical-align: middle;
}
div.server {
    background-color: #f5f5fc;
    border-radius: 15px;
    text-align: center;
    padding:15px;
    box-shadow:
            0 0 0 1px #E4E4EB,
            0 0 0 3px white,
            0 0 0 4px #e4e4eb;
    width: 720px;
    height: 520px;
    margin: 20px;
}
#hidden {
    display: none;
}
#ips {
    border:1px solid black;
    border-radius: 10px;
    width:300px;
    height:150px;
    overflow: auto;
}
#ips>li{
    height:20px;
    font-size:16px;
}
#ips>li:first-child{
    border-bottom:2px solid black;
}
#ips>li:nth-child(2n){
    border-bottom:1px solid black;
    background-color:lightgray;
}
#ips>li:nth-child(2n+3){
    border-bottom:1px solid black;
    background-color:white;
}
#connection-list{
    border:1px solid black;
    border-radius:10px;
    position: absolute;;
    width:300px;
    height:150px;
    top:15px;
    left:420px;
}
#connections>li:nth-child(2n){
    border-bottom:1px solid black;
    background-color:lightgray;
}
#connections>li:nth-child(2n+3){
    border-bottom:1px solid black;
    background-color:white;
}
#connections>li:first-child{
    border-bottom:2px solid black;
}