*{
    padding: 0;
    margin: 0;
}
.top{
    width: 100%;
    -webkit-app-region: drag;
    height: 34px;
    background-color:  #1a8cff;
}
iframe{
    display:block;
    width:100%;
    height:600px;
}